/*
                        SPACING SYSTEM (px)
                        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

                        FONT SIZE SYSTEM (px)
                        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
                        */

/*
                        MAIN COLOR: #0d49d7;
                        GREY COLOR: #343a40;
                        */

body {
    background: rgb(99, 37, 169);
    font-size: 16px;
    font-family: Rubik, Roboto, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: rgb(48, 43, 43);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button {
    border: none;
    background: none;
    outline: none;
    color: rgb(48, 43, 43);
    font-size: 14px;
    font-family: Rubik, Roboto, sans-serif;
}

a {
    color: rgb(48, 43, 43);
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    min-height: 100vh;
}
